<h1>User info</h1>
  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @customer,url: public_customer_path do |f| %>
    <label for="inputName">Name</label>
    <%= f.text_field :user_name, autofocus: true, id:"inputName" %>
    <label for="inputImage">Image</label>
    <%= f.file_field :profile_image,  accept: "image/*" %>
    <label for="inputIntroduction">Introduction</label>
    <%= f.text_area :introduction  %>
    <%= f.submit "Update User" %>
  <% end %>