<div>
    <%= flash[:notice] %>
</div>
<div class="container" >
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/posts/list', customer: @customer, post: @post %>
    </div>
      <div class="col-md-8 offset-md-1">
        <h1>Posts</h1>
        <% @posts.each do |post| %>
          <div>
            <%= link_to public_customer_path(post.customer) do %>
              <p><%= image_tag post.customer.get_profile_image(100,100)  %></p>
            <% end %>
              <p>Title</p>
            <%= link_to public_posts_path(post.id) do %>
              <p><%= post.title %></p>
            <% end %>
              <p>Introduction <%= post.introduction %></p>
              <p><%= link_to "#{post.post_comments.count} コメント", public_posts_path(post.id) %></p>
          </div>
        <% end %>
      </div>
  </div>
</div>