<div class="container" >
    <div class="row">
        <div class="col-md-3">
          <%= render 'public/posts/list', customer: @customer, post: Post.new %>
        </div>
        <div class="col-md-8 offset-md-1">
          <h1>Post detail</h1>
            <div>
              <%= flash[:notice] %>
            </div>
            <div>
              <%= link_to public_posts_path(@post.id) do %>
                <p><%= @post.title %></p>
              <% end %>
                <p><%= @post.introduction %></p>
              <%= link_to public_customer_path(@post.customer) do %>
                <p><%= image_tag @post.customer.get_profile_image(100,100) %></p>
              <% end %>
              <%= link_to public_customer_path(@post.customer)  do %>
                <p><%= @post.customer.user_name %></p>
              <% end %>
              <% if @post.customer == current_customer %>
                <%= link_to "Edit", edit_public_post_path(@post.id) %>
                <%= link_to "Destroy",public_post_path(@post), method: :delete %>
              <% end %>
              <div>
              <%= form_with model: [@post, @post_comment], url: public_post_post_comments_path(@post) do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
            </div>
              <% if @post.favorited_by?(current_customer) %>
                <p>
                  <%= link_to public_post_favorites_path(@post), method: :delete do %>
                    ♥<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to public_post_favorites_path(@post), method: :post do %>
                    ♡<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </div>
            <div>
              <p>コメント件数：<%= @post.post_comments.count %></p>
              <% @post.post_comments.each do |post_comment| %>
                <p><%= image_tag post_comment.customer.get_profile_image(100,100) %></p>
                <%= post_comment.customer.user_name %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
                <% if post_comment.customer == current_customer %>
                  <%= link_to "削除", public_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                <% end %>
              <% end %>
            </div>

        </div>
    </div>
</div>