<header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <a class="navbar-brand" href="/"><span>Upcoming Idols!!</span></a>
        </nav>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <p id="notice"><%= notice %></p>
          <% if customer_signed_in? %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-dark btn-nm ">
                <%= link_to "Users", public_customers_path, class: 'nav-link text-white' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Posts", public_posts_path, class: 'nav-link text-white' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Logout", destroy_customer_session_path, method: :delete, class: 'nav-link text-white' %>
              </button>
            </li>

          <%= render "layouts/search" %>

          <% elsif admin_signed_in? %>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
              </button>
            </li>

          <% else %>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "About", about_path, class: 'nav-link text-white' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Posts", public_posts_path, class: 'nav-link text-white' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "SignUp", new_customer_registration_path, class: 'nav-link text-white' %>
              </button>
            </li>
            <li class="nav-item ml-2">
              <button type="button" class="btn btn-outline-dark btn-nm">
                <%= link_to "Login", new_customer_session_path, class: 'nav-link text-white' %>
              </button>
            </li>
          </ul>
          <% end %>
        </div>

    </div>
  </nav>
</header>